
html {
    font-family: "Ibarra Real Nova", serif;

}

body {
    color: #192221;
    background-color: #d6d8d9;
}
#title {
    
}

#title:hover {
    font-size: 38px;
    transition: ease-in-out;
    transition-duration: 150ms;
}