

:root {
    --accent: white;
    --bg: black;
} 

html {
    font-family: "Ibarra Real Nova", serif;
}

body {
    display: grid;
    grid-template-rows: 10% 20% auto;
    grid-template-areas: 
    "null"
    "nav"
    "cont";

    color: #192221;
    background-color: var(--bg);
    color: var(--accent);
}

a {
    text-decoration: none;
    color: var(--accent);
    background: linear-gradient(to right, white, black);
}

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none; 
    font-size: 20px;
    text-transform: uppercase;
    
}
 


.title-block {
    grid-area: cont;
    margin: auto;
    color: white;
    width: 500px;
    
}

#logo {
    max-width: 75%;
    max-height: auto;
}

#title-text {
}
